/*Author: Po-Kai Chang
Date: 2018/03/26
License: Free to use under MIT License
Goal: Support blog's layout
*/
body, h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}

/* Tweak headers in post*/
.post h1 {
  font-size: 3vw;
  margin-top: 3vw;
  margin-bottom: 0;
}

.post h2 {
  line-height: 2.2vw;
  font-size: 2.2vw;
  max-width: 650px;
  margin: .9vw 0;
}

/* Tweak li */
ul li {
  list-style-type: circle;
  font-size: 2vw;
}

/* Tweek p inside post div*/
.post p {
  font-size: 1.6vw;
  line-height: 2vw;
  margin: 0 auto .5vw 1vw;
}

/* Tweek code */
pre > code {
  display: block;
  padding: .3vw .5vw;
  white-space: pre;
}
code {
  background: #bdb7b7;
  font-family: "courier new", "times new roman", monospace;
  font-size: medium;
  color: rgba(34,34,34,0.7);
  line-height: 2.5vw;

  padding: .3vw .5vw;
  border-radius: .5vw;
  margin: 0 auto;

  /* Scroll bar long */
  overflow: auto;
  max-height: 24em;
}

/* Always dispaly the scrollbar
ref: https://stackoverflow.com/questions/7492062/css-overflow-scroll-always-show-vertical-scroll-bar
*/
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

/* Style table */
table, td, th {
  border: 0.3vw solid white;
}

.w3-row-padding img {
  margin-bottom: 12px;
}

/* Set the width of the sidebar to 120px */
.w3-sidebar {
  width: 120px;
  background: #222;
}

/* Add a left margin to main that matches the width of the sidebar (120px) */
main {
  margin-left: 120px
}


/* Style bars in skillSet */
.skillSet .w3-dark-grey {
  height: 28px;
}

/* Style post links */
li.post {
  margin: 2vw auto;
}

@media only screen and (max-width: 600px) {
  /* Remove margins from main on small screens */
  main {
    margin-left: 0;
  }

  code {
    font-size: 1.8vw;
  }
}
