<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>

    <!-- special gift to mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- dress up urself -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/skeleton.css">
  </head>


  <body>
    <nav>
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/#about">ABOUT</a></li> 
        <li><a href="/cv">CV</a></li>
        <li><a href="/blog">BLOG</a></li>
      </ul>
    </nav>

    <div class="container">
    {{ content }}
    </div>

    <footer>
      <ul>
        <li><a href="mailto:pokaichangtwn@gmail.com">email</a></li>
        <li><a href="https://github.com/LplusKira">github.com/LplusKira</a></li>
      </ul>
    </footer>

  </body>

</html>

